<div class="row">
    <div class="col-12 list-group shadow pe-0">
        <div class="d-flex justify-content-center">
            <div class="spinner-border m-3" role="status" *ngIf="loading">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div *ngIf="!loading">
            <p class="lead text-center" *ngIf="!cartProducts || cartProducts.length === 0">No products in your cart</p>
            <p class="lead text-center mb-3" *ngIf="cartProducts && cartProducts.length != 0">Your Cart</p>
            <li *ngFor="let product of cartProducts" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="list-group-item-heading">{{ product.name }}</h4>
                    <p class="list-group-item-text">{{ product.description }}</p>
                    <p class="list-group-item-text">Quantity: {{ product.quantity }}</p>
                </div>
                <span>
                    <img [src]="product.imgPath" alt="" class="img-thumbnail" style="height: 150px" />
                </span>
            </li>
            <div class="d-flex justify-content-center" *ngIf="cartProducts && cartProducts.length != 0">
                <button class="button btn-purple m-3" (click)="clear()">Clear the cart</button>
            </div>
        </div>
    </div>
</div>
